[submodule "example/cpp/_submodules/stb"]
	path = example/cpp/_submodules/stb
	url = https://github.com/nothings/stb
[submodule "example/cpp/_submodules/glm"]
	path = example/cpp/_submodules/glm
	url = https://github.com/g-truc/glm
[submodule "example/cpp/_submodules/freeglut"]
	path = example/cpp/_submodules/freeglut
	url = https://github.com/dcnieho/FreeGLUT
[submodule "example/cpp/_submodules/glfw"]
	path = example/cpp/_submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "example/cpp/_submodules/SDL"]
	path = example/cpp/_submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "example/cpp/_submodules/SFML"]
	path = example/cpp/_submodules/SFML
	url = https://github.com/SFML/SFML
